<div class="card" [ngClass]="{ 'h-100': showActions }" *ngIf="item.imageUrl">
  <img
    class="card-img-top h-50 pointer-event"
    [src]="item.imageUrl"
    [routerLink]="['/admin/products', item.key]"
    alt="Card image cap"
  />
  <span *ngIf="getQuantity() > 0 && getQuantity() == 1" class="img-overlay small text-muted text-sm-center">
    1 item in cart</span
  >
  <span *ngIf="getQuantity() > 0 && getQuantity() != 1" class="img-overlay small text-muted text-sm-center">
    {{ getQuantity() }} items in cart</span
  >

  <div class="card-body flex-05">
    <div class="row">
      <div class="col-8">
        <h5 class="card-title">
          {{ item.title }}
        </h5>
      </div>
      <div class="col-4 small">
        <p class="card-text">
          {{ item.price | currency: "USD":"symbol" }} / item
        </p>
      </div>
    </div>
  </div>

  <div class="card-footer flex-05 mb-xl-n3" *ngIf="showActions">
    <product-update [item]="item" [readOnly]="false" [qty]="getQuantity()"></product-update>  
  </div>
</div>
<!-- [disabled]="updateCart.value < 1" -->