<div class="card" [ngClass]="{'h-100':showActions}" *ngIf="item.imageUrl">
    <img
      class="card-img-top h-50"
      [src]="item.imageUrl"
      alt="Card image cap"
    />
    <span *ngIf="getQuantity() > 0 && getQuantity() == 1" class="img-overlay"> 1 item in cart</span>
    <span *ngIf="getQuantity() > 0 && getQuantity() != 1" class="img-overlay"> {{getQuantity()}} items in cart</span>

    <div class="card-body flex-05">
        <div class="row">
            <div class="col-8">
                <h5 class="card-title">
                    {{ item.title }}
                </h5>
            </div>
            <div class="col-4 small text-truncate">
                <p class="card-text">
                    {{ item.price | currency: "USD":"symbol" }}
                  </p>
            </div>
        </div>
       
   
      
     
    </div>
    
    <div class="card-footer flex-05 mb-xl-n3"  *ngIf="showActions">
        <button  *ngIf="getQuantity() == 0;else updateQty" (click)="addToCart()" class="btn btn-primary btn-block">Add to cart </button>
        <ng-template #updateQty>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 p-0">
                        <button class="btn btn-primary btn-block rounded-pill" (click)="removeFromCart()"><span class="text-center">-</span></button>
                    </div>
                    <div class="col-md-8 pt-1">
                        <span class="text-center pl-4" *ngIf="getQuantity() > 0 && getQuantity() == 1"> {{getQuantity()}} item</span>
                        <span class="text-center pl-4" *ngIf="getQuantity() > 0 && getQuantity() != 1"> {{getQuantity()}} items</span>
                    </div>
                    <div class="col-md-2 p-0">
                        <button class="btn btn-primary btn-block rounded-pill" (click)="addToCart()"><span class="text-center">+</span></button>
                    </div>
                </div>
            </div>
           
        </ng-template>
        
        
       
    </div>

  </div>


