<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
    <i class="fa header-icon fa-optin-monster fa-2x"></i>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <div class="col-10">
        <ul class="navbar-nav mr-auto" *ngIf="cart$ | async as cart">
          <li class="nav-item text-white" *ngIf="cart.itemCount > 0">
            <a class="btn btn-sm" 
            (click)="clearCart()">Clear cart</a>
          </li>
         
        </ul>
    
      
        <!-- <form class="form-inline">
    
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
            Search
          </button>
        </form> -->
       
      </div>

      <!-- Cart Sections -->
      <div class="col-1" >
      <ng-container *ngIf="cart$ | async as cart">
      
      
        <ul class="ml-md-auto navbar-nav" *ngIf="cart.itemCount > 0">

        <li class="nav-item dropdown">

          <a 
                class=""
                id="dropdownMenuButton"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                [routerLink]="[ '/shopping-cart' ]"
              >
          
             
             <img class="header-cart" 
             [src]="'https://images.vexels.com/media/users/3/132104/isolated/preview/5f2ebb95984bf47ea01319291eb81f68-shopping-cart-silhouette-icon-by-vexels.png'" 
             alt="home">
             <span *ngIf="cart.itemCount > 0" 
               class="badge badge-warning notify-badge text-white">{{cart.itemCount}}</span>
             
          </a>
        
        </li>
      </ul>
        
    </ng-container>
      </div>

   
       <!-- Cart Sections ends-->
      <!-- User templates Sections -->
      <div class="col-1">
        <ng-template #login>
          <li class="login-nav text-white">
            <a class="login-anc text-white" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/login']">Login</a>
          </li>
        </ng-template>
        <ul class="ml-md-auto navbar-nav" *ngIf="appUser;else login">
      
          <li class="nav-item dropdown">
              <a
                class="mr-sm-2 ml-3"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              <!-- <i class="fa fa-user-circle-o" style="font-size:24px;color:grey">
              
              </i> -->
              <ng-container *ngIf="appUser.name; else elseTemplate">
                <span class="text-white">{{appUser.name}}</span>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="text-white">{{appUser.email}}</span>
              </ng-template>
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="[ 'my/orders' ]">My Orders</a>
                <ng-container *ngIf="appUser.isAdmin"> 
                  <a class="dropdown-item" [routerLink]="[ 'admin/orders' ]">Manage Orders</a>
                  <a class="dropdown-item" [routerLink]="[ 'admin/products' ]">Manage Products</a>
                </ng-container>
                <a class="dropdown-item" (click)="logout()">Log out</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
 
 
</nav>
