.home {
    height: 3em;
    width: 6em;
}
.login-nav {
    list-style: none;
}
.login-anc {
    color:white;
    text-decoration: none;
}
.dropdown-item {
    cursor: pointer;

}
.header-cart {
    height: 2em;
    width: 2.5em;
}
.notify-badge {
    position: absolute;
    left: 2.5em;
    text-align: center;
    border-radius: 20px;
    top: -13%;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}