<div class="mt-4">
  <div class="card">
    <div class="card-body container">
      <div class="row">
        <div class="col-md-4">
          <h5>Shopping Cart</h5>
        </div>

        <div class="col-md-8 ">
          <div class="container">
            <div class="row ">
              <div class="col-md-5  text-muted">
                
                <span class="pull-right" *ngIf="cart?.itemCount > 0">
                  You have {{ cart?.itemCount }}
                  {{ cart.itemCount | pluralize: "item":"items" }}
                  in your cart
                </span>
                <span class="pull-right" *ngIf="cart?.itemCount == 0">
                  You have no
                  {{ cart.itemCount | pluralize: "item":"items" }}
                  in your cart
                </span>
              </div>
              <div class="col-md-7">
                <button class="btn pull-right btn-primary" (click)="checkout()" *ngIf="cart?.itemCount > 0" >Checkout cart</button>
               
              </div>
            </div>
          </div>
         
         
        </div>
      </div>

      <hr />

      <div class="mt-3" *ngIf="cart?.itemCount > 0">
        <table class="table table-sm table-striped">
          <thead class="thead-dark">
            <tr>
              <th ></th>
              <th>Product</th>
              <th class="text-center">Quantity</th>
              <th><span class="pull-right mr-3">Price</span></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of cart.products">
              <tr *ngIf="item.quantity > 0">
                <td style="width:15em">
                  <img
                  class="card-img-top w-25 ml-1 rounded-pill"
                  [src]="item.product.imageUrl"
                  alt="Card image cap"
                  />
                </td>
                <td [title]="item.product.title">
                 
                  <span
                    >{{
                      item.product.title.length > 20
                        ? (item.product.title | slice: 0:20) + "..."
                        : item.product.title
                    }}
                  </span>
               
                </td>
                <td class="text-center">
                  <span class="mr-4">{{ item.quantity }} X </span>
                  <div style="display: inline-block;" class="ml-4">
                    <product-update
                      [item]="item.product"
                      [readOnly]="true"
                      [qty]="item.quantity"
                    >
                    </product-update>
                  </div>
                </td>
                <td class="text-right"  >
                  <span class="ml-4">
                    <span>{{ item.totalPrice | currency: "USD":"symbol"}}</span>
                  </span>
                  <span class="ml-4" [attr.title]="getTitle(item)"><i  class="fa fa-info-circle"></i> </span>
                </td>
              </tr>
            </ng-container>
          </tbody>


        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="pull-right">
                    <span class="mr-3">
                        <span>Total Price : {{cart.totalPrice | currency: "USD":"symbol"}}</span>
                    </span>
                    <span class="ml-4"> </span>
                </th>
            </tr>
        </tfoot>
        </table>
      </div>

      <div class="mt-3" *ngIf="cart?.itemCount == 0">
        <button class="btn btn-primary" (click)="redirectToHome()">
          Go to home
        </button>
      </div>
    </div>
  </div>
</div>
