<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <product-filter
        [category]="category"
        (redirectHome)="redirectToHome($event)"
        [filteredProducts]="filteredProducts"
      >
      </product-filter>
    </div>
    <div class="col-lg-9 col-md-9 mt-4">
        <div class="row" *ngIf="noProduct && filteredProducts.length == 0">
            <div class="col-md-12 mb-4">
                <div class="jumbotron" >
                    <h3 class="">Oops! No Items match your filter criteria</h3>
                    <a
                    (click)="redirectToHome()"
                    class="btn btn-primary mt-2"
                    href="#"
                    role="button"
                    >Redirect to home</a
                    >
                </div>
            </div>
        </div>  
      
      <div class="row" *ngIf="filteredProducts?.length > 0">
        <ng-container *ngFor="let item of filteredProducts; let i = index">
          <div class="col-md-4 mb-4">
            <product-card [item]="item" [shoppingCart]="cart" [showActions]="true"> </product-card>
          </div>

          <div *ngIf="i % 1 != 0" class="w-100"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
